<app-header></app-header>
<!-- inner-hero start -->
<section class="inner-hero bg_img" data-background="assets/images/bg/inner-hero.jpg">
    <div class="shape position-absolute"><img src="assets/images/elements/inner-hero/shape.png" alt="image"></div>

    <!-- <div class="el-1 position-absolute"><img src="assets/images/elements/inner-hero/el-1.png" alt="image"></div> -->
    <div class="el-2 position-absolute"><img src="assets/images/elements/inner-hero/el-2.png" alt="image"></div>
    <div class="el-3 position-absolute"><img src="assets/images/elements/inner-hero/el-3.png" alt="image"></div>
    <div class="el-4 position-absolute"><img src="assets/images/elements/inner-hero/el-4.png" alt="image"></div>
    <div class="el-5 position-absolute"><img src="assets/images/elements/inner-hero/el-5.png" alt="image"></div>
    <div class="el-6 position-absolute"><img src="assets/images/elements/inner-hero/el-6.png" alt="image"></div>

    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title title">Shop your
                <br>
                Favourite...
            </h2>
        </div>
        </div>
    </div>
</section>
<!-- inner-hero end -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="availableKookies">
                <img src="assets/images/elements/Coin.png" width="4%"><span class="myCookies">My Cookies <span class="myCoin">3000</span></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#offers" role="tab" aria-selected="true">&nbsp;Offers&nbsp;</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#myoffers" role="tab" aria-selected="false">My Offers</a>
                    </li>
                  </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active show" id="offers">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/3TWQGP6L5BBWRFIOOHJG4ZCE3A?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">500</span>
                                            <a href="javascript:void(0);" id="store1" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/ZKGK6LH3NFGDZPIUB53NJSUBEY?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">450</span>
                                            <a href="javascript:void(0);" id="store2" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/7D7HU673ZVAGVOUGW7IP5VW5CQ?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">200</span>
                                            <a href="javascript:void(0);" id="store3" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/H23XOXJ42RAR7P2LOH2H3VPCWE?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">650</span>
                                            <a href="javascript:void(0);" id="store4" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/Q744LWCUJZC3XOPJT7WQU2W3NY?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">453</span>
                                            <a href="javascript:void(0);" id="store5" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/3EWICMTRG5BSBF6HW4XFMOHOXY?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">850</span>
                                            <a href="javascript:void(0);" id="store6" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/6LO4AKS2UNEW3MLSM2L2RLAREE?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">754</span>
                                            <a href="javascript:void(0);" id="store7" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="https://mediaservice.retailmenot.com/ws/mediagroup/M4IFV3EGQRAP3P7LWWVMTKKO44?width=300&height=150">
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">632</span>
                                            <a href="javascript:void(0);" id="store8" (click)="buyCookies($event)">Buy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="myoffers">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="https://www.expedia.co.uk/" target="_blank">
                                            <img src="https://mediaservice.retailmenot.com/ws/mediagroup/3TWQGP6L5BBWRFIOOHJG4ZCE3A?width=300&height=150">
                                        </a>
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">500</span>
                                            <a href="javascript:void(0);">Sell</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="https://www.papajohns.com/international/" target="_blank">
                                            <img src="https://mediaservice.retailmenot.com/ws/mediagroup/ZKGK6LH3NFGDZPIUB53NJSUBEY?width=300&height=150">
                                        </a>
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">450</span>
                                            <a href="javascript:void(0)">Sell</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="https://www.kohls.com/" target="_blank">
                                            <img src="https://mediaservice.retailmenot.com/ws/mediagroup/7D7HU673ZVAGVOUGW7IP5VW5CQ?width=300&height=150">
                                        </a>
                                    </div>
                                    <div class="col-12" style="padding-left:10%;margin-bottom: 10%;">
                                        <p class="storeHeading">Sale !!!</p>
                                        <p class="storeContent">Book early & Save 20% or more</p>
                                        <div class="coin">
                                            <img src="assets/images/elements/Coin.png" width="12%">
                                            <span class="storePrice">200</span>
                                            <a href="javascript:void(0)">Sell</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>