<div class="row">
    <div class="col-12 home1 hero">
        <div class="">
            <p class="left"><b>About us</b></p>
            <p class="right"><b>Services & benefits</b></p>
        </div>
        <div class="el-1"><img src="assets/images/elements/hero/el-1.png" alt="image"></div>
      <div class="el-2"><img src="assets/images/elements/hero/el-2.png" alt="image"></div>
      <div class="el-3"><img src="assets/images/elements/hero/el-3.png" alt="image"></div>
      <div class="el-4"><img src="assets/images/elements/hero/el-4.png" alt="image"></div>
      <div class="el-5"><img src="assets/images/elements/hero/el-5.png" alt="image"></div>
      <div class="el-6"><img src="assets/images/elements/hero/el-6.png" alt="image"></div>
      <div class="el-7"><img src="assets/images/elements/hero/el-7.png" alt="image"></div>
      <div class="el-8"><img src="assets/images/elements/hero/el-8.png" alt="image"></div>
      <div class="el-9"><img src="assets/images/elements/hero/el-9.png" alt="image"></div>
      <div class="el-10"><img src="assets/images/elements/hero/el-10.png" alt="image"></div>
      <div class="el-11"><img src="assets/images/elements/hero/el-11.png" alt="image"></div>
    </div>
    <div class="col-12 waveshape">
        <img src="../../assets/images/elements/hero/shape.png" alt="image">
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="leftContent">Get yourself rewarded for playing games..</p>  
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="rightContent">
                    Join the <br>
                    <span>CLUB TODAY</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="marginRight">
                    <a href="javascript:void(0);" (click) = "show()" class="signButton">Login / Register</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div>
                    <ul class="social-links justify-content-center">
                        <!-- <li><img class="footerlogo" src='https://product.massbunk.in/massbunk/Logo.png'></li> -->
                        <li style="margin-left:10%"><a href="#0"><i class="lab la-facebook-f"></i></a></li>
                        <li><a href="#0"><i class="lab la-twitter"></i></a></li>
                        <li><a href="#0"><i class="lab la-pinterest-p"></i></a></li>
                        <li><a href="#0"><i class="lab la-google-plus"></i></a></li>
                        <li><a href="#0"><i class="lab la-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login form -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="container">
            <div class="card"></div>
            <div class="card">
              <h1 class="title">Login</h1>
              <form (ngSubmit) = "loginSubmit()" [formGroup] = "loginForm">
                <div class="input-container">
                  <input type="text" id="Username" formControlName="userName"/>
                  <label for="Username">Email Id</label>
                  <div class="bar"></div>
                </div>
                <div class="input-container">
                  <input type="password" id="Password" formControlName="passWord" />
                  <label for="Password">Password</label>
                  <div class="bar"></div>
                </div>
                <div class="button-container">
                  <button [disabled] = "loginForm.invalid"><span>Submit</span></button>
                </div>
                <div class="footer"><a href="#" (click)="hide()">Close</a></div>
              </form>
            </div>
            <div class="card alt">
              <div class="toggle" (click) = "toggle($event)"></div>
              <h1 class="title">Register
                <div class="close" (click) = "switch()"></div>
              </h1>
              <form>
                <div class="input-container">
                  <input type="text" id="Username" required="required"/>
                  <label for="Username">Username</label>
                  <div class="bar"></div>
                </div>
                <div class="input-container">
                  <input type="password" id="Password" required="required"/>
                  <label for="Password">Password</label>
                  <div class="bar"></div>
                </div>
                <div class="input-container">
                  <input type="password" id="Repeat Password" required="required"/>
                  <label for="Repeat Password">Repeat Password</label>
                  <div class="bar"></div>
                </div>
                <div class="button-container">
                  <button><span>Next</span></button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>