<app-header></app-header>
<!-- hero section start -->
<section class="hero bg_img" data-background="assets/images/bg/hero.jpg">
    <div class="hero__shape">
      <img src="assets/images/elements/hero/shape-2.png" alt="image">
    </div>
    <div class="el-1"><img src="assets/images/elements/hero/el-1.png" alt="image"></div>
    <div class="el-2"><img src="assets/images/elements/hero/el-2.png" alt="image"></div>
    <div class="el-3"><img src="assets/images/elements/hero/el-3.png" alt="image"></div>
    <div class="el-4"><img src="assets/images/elements/hero/el-4.png" alt="image"></div>
    <div class="el-5"><img src="assets/images/elements/hero/el-5.png" alt="image"></div>
    <div class="el-6"><img src="assets/images/elements/hero/el-6.png" alt="image"></div>
    <div class="el-7"><img src="assets/images/elements/hero/el-7.png" alt="image"></div>
    <div class="el-8"><img src="assets/images/elements/hero/el-8.png" alt="image"></div>
    <div class="el-9"><img src="assets/images/elements/hero/el-9.png" alt="image"></div>
    <div class="el-10"><img src="assets/images/elements/hero/el-10.png" alt="image"></div>
    <div class="el-11"><img src="assets/images/elements/hero/el-11.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="hero__content">
            <span class="hero__sub-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">Kooikes</span>
            <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">MONETIZE YOUR DAILY GAMING</h2>
            <!-- <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">Our games entertain millions of people every day, everywhere</p> -->
            <!-- <a href="javascript:void(0)" class="cmn-btn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">play now</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero section end -->
  <section class="pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="section-header text-center has--bg">
            <div class="header-image"><img src="assets/images/elements/header-el.png" alt="image"></div>
            <h2 class="section-title">Our Benefits</h2>
          </div>
        </div>
      </div><!-- row end -->
    </div>
  </section>
  <!-- about section start -->
  <section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="about-content">
            <div class="section-header has--bg">
              <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
              <h2 class="section-title">We reward you for playing your favourite games</h2>
            </div>
            <p>We reward gamers with ‘Cookies’ for every game they play. ‘Cookies’ is our in-
              platform currency, using which they can purchase offers on our store from our partnered brands.</p>
            <a href="javascript:void(0)" class="cmn-btn mt-5">learn more</a>
          </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="about-thumb">
            <img src="assets/images/elements/subscribe.png" alt="image" class="image-1">
            <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="about-thumb">
            <img src="assets/images/elements/Trophy.png" alt="image" class="image-1">
            <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="about-content">
            <div class="section-header has--bg">
              <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
              <h2 class="section-title">Compete in Esports</h2>
            </div>
            <p>Participate in Kookies monthly esports tournaments and win great prizes.
              Gamers compete against similar skilled players by playing their own game in a performance
              base format</p>
            <a href="javascript:void(0)" class="cmn-btn mt-5">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="about-content">
            <div class="section-header has--bg">
              <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
              <h2 class="section-title">Engage with community</h2>
            </div>
            <p>Enlist yourselves as game coaches as per your performance. Form
              teams with players of similar or higher skill.</p>
            <a href="javascript:void(0)" class="cmn-btn mt-5">learn more</a>
          </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="about-thumb">
            <img src="assets/images/elements/about-player.png" alt="image" class="image-1">
            <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="about-thumb">
            <img src="assets/images/elements/rewards.png" alt="image" class="image-1">
            <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="about-content">
            <div class="section-header has--bg">
              <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
              <h2 class="section-title">Earn more rewards</h2>
            </div>
            <p>Can take part in sponsored & User created tournaments. Earn by completing paid
              surveys and by bringing more players to our platform.</p>
            <a href="javascript:void(0)" class="cmn-btn mt-5">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="about-content">
            <div class="section-header has--bg">
              <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
              <h2 class="section-title">Support your favourite content creators and noble causes</h2>
            </div>
            <p>Support your favourite content creator / influencer / streamer through Kookies recurring
              revenue sharing program. Donate to your preferred noble causes around the world. Kookies sets aside 10% of the
              subscription fee for donating to noble causes causes.</p>
            <a href="javascript:void(0)" class="cmn-btn mt-5">learn more</a>
          </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="about-thumb">
            <img src="assets/images/elements/Donate.png" alt="image" class="image-1">
            <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about section end -->
<app-footer></app-footer>