<app-header></app-header>
<!-- inner-hero start -->
<section class="inner-hero bg_img" data-background="assets/images/bg/inner-hero.jpg">
    <div class="shape position-absolute"><img src="assets/images/elements/inner-hero/shape.png" alt="image"></div>

    <!-- <div class="el-1 position-absolute"><img src="assets/images/elements/inner-hero/el-1.png" alt="image"></div> -->
    <div class="el-2 position-absolute"><img src="assets/images/elements/inner-hero/el-2.png" alt="image"></div>
    <div class="el-3 position-absolute"><img src="assets/images/elements/inner-hero/el-3.png" alt="image"></div>
    <div class="el-4 position-absolute"><img src="assets/images/elements/inner-hero/el-4.png" alt="image"></div>
    <div class="el-5 position-absolute"><img src="assets/images/elements/inner-hero/el-5.png" alt="image"></div>
    <div class="el-6 position-absolute"><img src="assets/images/elements/inner-hero/el-6.png" alt="image"></div>

    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title title">Shop your
                <br>
                Favourite...
            </h2>
        </div>
        </div>
    </div>
</section>
<!-- inner-hero end -->
<div class="container">
    <div class="row neo">
        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
            <img class="productImg" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349">
        </div>
        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
            <p class="titleName">Rocket in sky</p>
            <p class="titleDesc">25320: 0x00517f0926</p>
            <p class="owned">Owned By <span class="owned"> Name</span></p>
            <p class="price">Current Price</p>
            <img src = "https://lh3.googleusercontent.com/7hQyiGtBt8vmUTq4T0aIUhIhT00dPhnav87TuFQ5cLtjlk724JgXdjQjoH_CzYz-z37JpPuMFbRRQuyC7I9abyZRKA=s48"> 
            <span class="currentprice">0.499</span>
            <p>
                <a href="javascript:void(0)" class="buynow cmn-btn">Buy now</a>
            </p>
            <div class="row">
                <div class="col-12">
                    <div id="accordion">
                        <div class="card" style="margin-bottom: 5%;">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link pricehistory"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="las la-chart-line pricehistory" ></i> Price History
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              <img style="width:30%" src="https://visualpharm.com/assets/542/Combo%20Chart-595b40b65ba036ed117d3965.svg">
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>