<app-header></app-header>
<!-- hero section start -->
<section class="hero bg_img" data-background="assets/images/bg/hero.jpg">
    <div class="hero__shape">
      <img src="assets/images/elements/hero/shape-2.png" alt="image">
    </div>
    <div class="el-1"><img src="assets/images/elements/hero/el-1.png" alt="image"></div>
    <div class="el-2"><img src="assets/images/elements/hero/el-2.png" alt="image"></div>
    <div class="el-3"><img src="assets/images/cookies/1234.png" alt="image"></div>
    <div class="el-4"><img src="assets/images/cookies/123.png" alt="image"></div>
    <div class="el-5"><img src="assets/images/elements/hero/el-5.png" alt="image"></div>
    <div class="el-6"><img src="assets/images/elements/hero/el-6.png" alt="image"></div>
    <div class="el-7"><img src="assets/images/elements/hero/el-7.png" alt="image"></div>
    <div class="el-8"><img src="assets/images/cookies/12345.png" alt="image"></div>
    <div class="el-9"><img src="assets/images/elements/hero/el-9.png" alt="image"></div>
    <div class="el-10"><img src="assets/images/elements/hero/el-10.png" alt="image"></div>
    <div class="el-11"><img src="assets/images/elements/hero/el-11.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="hero__content">
            <span class="hero__sub-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">Cookies Rewards</span>
            <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Exchange your
              Cookies for amazing rewards</h2>
            <!-- <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">Our games entertain millions of people every day, everywhere</p> -->
            <!-- <a href="javascript:void(0)" class="cmn-btn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">play now</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero section end -->

  <section class=" pt-120 pb-120 position-relative overflow-hidden">
    <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
    <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="about-content">
            <div class="section-header has--bg">
              <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
              <h2 class="section-title">We reward you for playing your favourite games</h2>
            </div>
            <p>We reward gamers with ‘Cookies’ for every game they play. ‘Cookies’ is our in-
              platform currency, using which they can purchase offers on our store from our partnered brands.</p>
            <a href="javascript:void(0)" class="cmn-btn mt-5">learn more</a>
          </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <div class="about-thumb">
            <img src="assets/images/cookies/Rewards1.png" alt="image" class="image-1">
            <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/10k.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">100000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/PC.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">50000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/Speaker.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">10000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/Etherium.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">40000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/Trip.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">70000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/30k.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">200000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/Car.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">80000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/island.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">1000000</span>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-4 marginBottom">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="assets/images/cookies/50k.jpg" alt="Card image cap">
                    <div class="card-body cookiees">
                        <!-- <h5 class="card-title fontColor">Title</h5> -->
                        <img src="assets/images/elements/Coin.png" width="20%">
                        <span class="cookieeFont">400000</span>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
<app-footer></app-footer>