<!-- prealoader start  -->
<div class="preloader">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
<!-- prealoader end -->

<!-- scroll-to-top start -->
<div class="scroll-to-top">
<span (click) = "scrollTop()" class="scroll-icon">
  <i class="las la-arrow-up"></i>
</span>
</div>
<!-- scroll-to-top end -->
<div class="page-wrapper">
  <!-- <app-header></app-header> -->
  <!-- <app-landing></app-landing> -->
  <router-outlet></router-outlet>
</div>