<app-header></app-header>
 <!-- inner-hero start -->
<div class="inner-hero bg_img style--two" data-background="assets/images/bg/inner-hero-2.jpg">
    <div class="shape position-absolute"><img src="assets/images/elements/inner-hero/shape.png" alt="image"></div>
    <!-- <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title title">Your Own's NFT Store...
            </h2>
        </div>
        </div>
    </div> -->
</div>
<div class="container top">
    <div class="row">
        <div class="col-12">
            <div class="card bottom">
                <div class="card-body">
                    <i class="fas fa-star"></i>
                    <span class="heading">Trending Collections</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-nowrap scroll">
        <div class="col-4 marginBottom">
            <a href="javascript:void(0)" routerLink = "/nftdetails">
                <div class="card bg-light text-dark">
                    <img class="card-img-top" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title fontColor">Title</h5>
                        <div class="row">
                            <div class="col-6">
                                <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                            </div>
                            <div class="col-6">
                                <p class="rightContent fontColor">Ξ0.02</p>
                            </div>
                        </div>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container top">
    <div class="row">
        <div class="col-12">
            <div class="card bottom">
                <div class="card-body">
                    <i class="fas fa-star"></i>
                    <span class="heading">Digital Art</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-nowrap scroll">
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/sVtiK670NUpwOD6RHHYslYo80OzdE4n8umlHtY0Eh3mEy-n6M4DZHwsMBeKilcWLF4Vs20-fCz2zXN72RMgl7L6iL0_L7LPoVYFHN_o=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/P03_O4qj2ZzRDdBnBttk753IhRUMiw0DkLBfv56aAxx4b2bDD6yAmHUa834KfrkgDXrymIf7lTg_Cg7lJq4fb8awrb1D98laAlRXdQ=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/P03_O4qj2ZzRDdBnBttk753IhRUMiw0DkLBfv56aAxx4b2bDD6yAmHUa834KfrkgDXrymIf7lTg_Cg7lJq4fb8awrb1D98laAlRXdQ=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/P03_O4qj2ZzRDdBnBttk753IhRUMiw0DkLBfv56aAxx4b2bDD6yAmHUa834KfrkgDXrymIf7lTg_Cg7lJq4fb8awrb1D98laAlRXdQ=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-4 marginBottom">
            <div class="card bg-light text-dark">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/P03_O4qj2ZzRDdBnBttk753IhRUMiw0DkLBfv56aAxx4b2bDD6yAmHUa834KfrkgDXrymIf7lTg_Cg7lJq4fb8awrb1D98laAlRXdQ=s349" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title fontColor">Title</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class ="description" style="color: #363636;">Another Way - Medieval, Fantasy, Digital ART</p>
                        </div>
                        <div class="col-6">
                            <p class="rightContent fontColor">Ξ0.02</p>
                        </div>
                    </div>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>